#%RAML 1.0
title: 2016 HMIS API
version: 1.0.0
baseUri: https://www.hmislynk.com/hmis-clientapi-v2016/rest/v2016/
mediaType: application/json
securedBy: [oauth_2_0]
securitySchemes:
  oauth_2_0: !include security-schemes/oauth_2_0.raml
protocols:
  -  HTTPS
types:
  affiliation : !include types/affiliation.json
  affiliation_id : !include types/affiliation_id.json
  affiliation_id_only : !include types/affiliation_id_only.json
  affiliations_ids : !include types/affiliations_ids.json
  client : !include types/client.json
  client_id : !include types/client_id.json
  client_id_only : !include types/client_id_only.json
  clients_ids : !include types/clients_ids.json
  contact : !include types/contact.json
  contact_id : !include types/contact_id.json
  contact_id_only : !include types/contact_id_only.json
  contacts_ids : !include types/contacts_ids.json
  date_of_engagement : !include types/date_of_engagement.json
  date_of_engagement_id : !include types/date_of_engagement_id.json
  date_of_engagement_id_only : !include types/date_of_engagement_id_only.json
  date_of_engagements_ids : !include types/date_of_engagements_ids.json
  disabilities : !include types/disabilities.json
  disabilities_id_only : !include types/disabilities_id_only.json
  disabilities_ids : !include types/disabilities_ids.json
  disability_id : !include types/disability_id.json
  domestic_violence : !include types/domestic_violence.json
  domestic_violence_id : !include types/domestic_violence_id.json
  domestic_violence_id_only : !include types/domestic_violence_id_only.json
  domestic_violences_ids : !include types/domestic_violences_ids.json
  education : !include types/education.json
  education_id : !include types/education_id.json
  education_id_only : !include types/education_id_only.json
  educations_ids : !include types/educations_ids.json
  employment : !include types/employment.json
  employment_id : !include types/employment_id.json
  employment_id_only : !include types/employment_id_only.json
  employments_ids : !include types/employments_ids.json
  enrollment : !include types/enrollment.json
  enrollment_coc : !include types/enrollment_coc.json
  enrollment_coc_id : !include types/enrollment_coc_id.json
  enrollment_coc_id_only : !include types/enrollment_coc_id_only.json
  enrollment_cocs_ids : !include types/enrollment_cocs_ids.json
  enrollment_id : !include types/enrollment_id.json
  enrollment_id_only : !include types/enrollment_id_only.json
  enrollments_ids : !include types/enrollments_ids.json
  entry_rhsp : !include types/entry_rhsp.json
  entry_rhsp_id : !include types/entry_rhsp_id.json
  entry_rhsp_id_only : !include types/entry_rhsp_id_only.json
  entry_rhsps_ids : !include types/entry_rhsps_ids.json
  entry_rhy : !include types/entry_rhy.json
  entry_rhy_id : !include types/entry_rhy_id.json
  entry_rhy_id_only : !include types/entry_rhy_id_only.json
  entry_rhys_ids : !include types/entry_rhys_ids.json
  entry_ssvf : !include types/entry_ssvf.json
  entry_ssvf_id : !include types/entry_ssvf_id.json
  entry_ssvf_id_only : !include types/entry_ssvf_id_only.json
  entry_ssvfs_ids : !include types/entry_ssvfs_ids.json
  exit : !include types/exit.json
  exit_housing_assessment : !include types/exit_housing_assessment.json
  exit_housing_assessment_id : !include types/exit_housing_assessment_id.json
  exit_housing_assessment_id_only : !include types/exit_housing_assessment_id_only.json
  exit_housing_assessments_ids : !include types/exit_housing_assessments_ids.json
  exit_id : !include types/exit_id.json
  exit_id_only : !include types/exit_id_only.json
  exit_path : !include types/exit_path.json
  exit_path_id : !include types/exit_path_id.json
  exit_path_id_only : !include types/exit_path_id_only.json
  exit_paths_ids : !include types/exit_paths_ids.json
  exit_rhy : !include types/exit_rhy.json
  exit_rhy_id : !include types/exit_rhy_id.json
  exit_rhy_id_only : !include types/exit_rhy_id_only.json
  exit_rhys_ids : !include types/exit_rhys_ids.json
  exits_ids : !include types/exits_ids.json
  funder : !include types/funder.json
  funder_id : !include types/funder_id.json
  funder_id_only : !include types/funder_id_only.json
  funders_ids : !include types/funders_ids.json
  get_all_hmis_type_names : !include types/get_all_hmis_type_names.json
  get_all_hmis_type_value_of_hmis_type : !include types/get_all_hmis_type_value_of_hmis_type.json
  get_all_survey_questions : !include types/get_all_survey_questions.json
  get_survey_question_by_hud_id : !include types/get_survey_question_by_hud_id.json
  health_insurance : !include types/health_insurance.json
  health_insurance_id : !include types/health_insurance_id.json
  health_insurance_id_only : !include types/health_insurance_id_only.json
  health_insurances_ids : !include types/health_insurances_ids.json
  health_status : !include types/health_status.json
  health_status_id : !include types/health_status_id.json
  health_status_id_only : !include types/health_status_id_only.json
  health_statuses_ids : !include types/health_statuses_ids.json
  housing_assessment_disposition : !include types/housing_assessment_disposition.json
  housing_assessment_disposition_id : !include types/housing_assessment_disposition_id.json
  housing_assessment_disposition_id_only : !include types/housing_assessment_disposition_id_only.json
  housing_assessment_dispositions_ids : !include types/housing_assessment_dispositions_ids.json
  income_and_source : !include types/income_and_source.json
  income_and_source_id : !include types/income_and_source_id.json
  income_and_source_id_only : !include types/income_and_source_id_only.json
  income_and_sources_ids : !include types/income_and_sources_ids.json
  inventories_ids : !include types/inventories_ids.json
  inventory : !include types/inventory.json
  inventory_id : !include types/inventory_id.json
  inventory_id_only : !include types/inventory_id_only.json
  medical_assistance : !include types/medical_assistance.json
  medical_assistance_id : !include types/medical_assistance_id.json
  medical_assistance_id_only : !include types/medical_assistance_id_only.json
  medical_assistances_ids : !include types/medical_assistances_ids.json
  non_cash_benefits : !include types/non_cash_benefits.json
  non_cash_benefits_id : !include types/non_cash_benefits_id.json
  non_cash_benefits_id_only : !include types/non_cash_benefits_id_only.json
  non_cash_benefitses_ids : !include types/non_cash_benefitses_ids.json
  organization : !include types/organization.json
  organization_id : !include types/organization_id.json
  organization_id_only : !include types/organization_id_only.json
  organizations_ids : !include types/organizations_ids.json
  path_status : !include types/path_status.json
  path_status_id : !include types/path_status_id.json
  path_status_id_only : !include types/path_status_id_only.json
  path_statuses_ids : !include types/path_statuses_ids.json
  project : !include types/project.json
  project_coc : !include types/project_coc.json
  project_coc_id : !include types/project_coc_id.json
  project_coc_id_only : !include types/project_coc_id_only.json
  project_cocs_ids : !include types/project_cocs_ids.json
  project_id : !include types/project_id.json
  project_id_only : !include types/project_id_only.json
  projects_ids : !include types/projects_ids.json
  residential_move_in_date : !include types/residential_move_in_date.json
  residential_move_in_date_id : !include types/residential_move_in_date_id.json
  residential_move_in_date_id_only : !include types/residential_move_in_date_id_only.json
  residential_move_in_dates_ids : !include types/residential_move_in_dates_ids.json
  service_fa_referral : !include types/service_fa_referral.json
  service_fa_referral_id : !include types/service_fa_referral_id.json
  service_fa_referral_id_only : !include types/service_fa_referral_id_only.json
  service_fa_referrals_ids : !include types/service_fa_referrals_ids.json
  site : !include types/site.json
  site_id : !include types/site_id.json
  site_id_only : !include types/site_id_only.json
  sites_ids : !include types/sites_ids.json
  veteran_info : !include types/veteran_info.json
  veteran_info_id : !include types/veteran_info_id.json
  veteran_info_id_only : !include types/veteran_info_id_only.json
  veteran_infos_ids : !include types/veteran_infos_ids.json

resourceTypes:
  collection: !include types/collection.raml
  member: !include types/member.raml

/clients:
  type:
    collection:
      schema_ids: clients_ids
      schema_ids_example: !include examples/clients_ids_example.json
      schema: client
      schema_example: !include examples/client_example.json
      schema_id_example: !include examples/client_id_example.json
  /{clientid}:
    type:
      member:
        schema: client
        schema_id: client_id
        schema_id_example: !include examples/client_id_example.json
        schema_example: !include examples/client_example.json
    /enrollments:
      type:
        collection:
          schema: enrollment
          schema_ids: enrollments_ids
          schema_ids_example: !include ./examples/enrollments_ids_example.json
          schema_example: !include ./examples/enrollment_example.json
          schema_id_example: !include ./examples/enrollment_id_example.json
      /{enrollmentid}:
        type:
          member:
            schema: enrollment
            schema_id: enrollment_id
            schema_id_example: !include ./examples/enrollment_id_example.json
            schema_example: !include ./examples/enrollment_example.json
        /enrollmentcocs:
          type:
            collection:
              schema: enrollment_coc
              schema_ids: enrollment_cocs_ids
              schema_ids_example: !include ./examples/enrollment_cocs_ids_example.json
              schema_example: !include ./examples/enrollment_coc_example.json
              schema_id_example: !include ./examples/enrollment_coc_id_example.json
          /{enrollmentcocid}:
            type:
              member:
                schema: enrollment_coc
                schema_id: enrollment_coc_id
                schema_id_example: !include ./examples/enrollment_coc_id_example.json
                schema_example: !include ./examples/enrollment_coc_example.json
        /educations:
          type:
            collection:
              schema: education
              schema_ids: educations_ids
              schema_ids_example: !include ./examples/educations_ids_example.json
              schema_example: !include ./examples/education_example.json
              schema_id_example: !include ./examples/education_id_example.json
          /{educationid}:
            type:
              member:
                schema: education
                schema_id: education_id
                schema_id_example: !include ./examples/education_id_example.json
                schema_example: !include ./examples/education_example.json
        /contacts:
          type:
            collection:
              schema: contact
              schema_ids: contacts_ids
              schema_ids_example: !include ./examples/contacts_ids_example.json
              schema_example: !include ./examples/contact_example.json
              schema_id_example: !include ./examples/contact_id_example.json
          /{contactid}:
            type:
              member:
                schema: contact
                schema_id: contact_id
                schema_id_example: !include ./examples/contact_id_example.json
                schema_example: !include ./examples/contact_example.json
        /dateofengagements:
          type:
              collection:
                schema: date_of_engagement
                schema_ids: date_of_engagements_ids
                schema_example: !include ./examples/date_of_engagement_example.json
                schema_ids_example: !include ./examples/date_of_engagements_ids_example.json
                schema_id_example: !include ./examples/date_of_engagement_id_example.json
          /{dateofengagementid}:
            type:
              member:
                schema: date_of_engagement
                schema_id: date_of_engagement_id
                schema_id_example: !include ./examples/date_of_engagement_id_example.json
                schema_example: !include ./examples/date_of_engagement_example.json
        /disabilities:
          type: {
            collection: {
              id_schema_json: id_disabilities_json,
              schema_json:  disabilities_json,
              schema_ids_json: disabilities_ids_json,
              schema_json_example: !include examples/Disabilities_json_example.json,
              schema_ids_json_example: !include examples/Disabilities_ids_json_example.json,
              id_schema_json_example: !include examples/id_disabilities_json_example.json
            }
          }
          /{disabilitiesid}:
            uriParameters:
              disabilitiesid:
                displayName: Disabilities Identifier
                type: string
                example: ADBC1111211111114111111111D1111V
            type:
              member:
                schema_json:  disabilities_json
                schema_id_json: disabilities_id_json
                schema_json_example: !include examples/Disabilities_json_example.json
                schema_id_json_example: !include examples/Disabilities_id_json_example.json
        /domesticviolences:
          type: {
            collection: {
              id_schema_json: id_domesticviolences_json,
              schema_json:  domesticviolence_json,
              schema_ids_json: domesticviolence_ids_json,
              schema_json_example: !include examples/DomesticViolence_json_example.json,
              schema_ids_json_example: !include examples/DomesticViolence_ids_json_example.json,
              id_schema_json_example: !include examples/id_domesticviolence_json_example.json
            }
          }
          /{domesticviolenceid}:
            uriParameters:
              domesticviolenceid:
                displayName: DomesticViolence Identifier
                type: string
                example: ADBC1111211111114111111111D1111V
            type:
              member:
                schema_json:  domesticviolence_json
                schema_id_json: domesticviolence_id_json
                schema_json_example: !include examples/DomesticViolence_json_example.json
                schema_id_json_example: !include examples/DomesticViolence_id_json_example.json
        /employments:
          type: {
            collection: {
              id_schema_json: id_employments_json,
              schema_json:  employments_json,
              schema_ids_json: employments_ids_json,
              schema_json_example: !include examples/Employments_json_example.json,
              schema_ids_json_example: !include examples/Employments_ids_json_example.json,
              id_schema_json_example: !include examples/id_employments_json_example.json
            }
          }
          /{employmentsid}:
            uriParameters:
              employmentsid:
                displayName: Employments Identifier
                type: string
                example: ADBC1111211111114111111111D1111V
            type:
              member:
                schema_json:  employments_json
                schema_id_json: employment_id_json
                schema_id_json_example: !include examples/Employment_id_json_example.json
                schema_json_example: !include examples/Employments_json_example.json
        /exits:
          type: {
            collection: {
              id_schema_json: id_exits_json,
              schema_json:  exit_json,
              schema_ids_json: exit_ids_json,
              schema_json_example: !include examples/Exit_json_example.json,
              schema_ids_json_example: !include examples/Exit_ids_json_example.json,
              id_schema_json_example: !include examples/id_exits_json_example.json
            }
          }
          /{exitsid}:
            uriParameters:
              exitsid:
                displayName: Exits Identifier
                type: string
                example: ADBC1111211111114111111111D1111V
            type:
              member:
                schema_json:  exit_json
                schema_id_json: exit_id_json
                schema_id_json_example: !include examples/Exit_id_json_example.json
                schema_json_example: !include examples/Exit_json_example.json
/clients/{clientid}/enrollments/{enrollmentid}/exits/{exitsid}/exithousingassesments:
                  type: {
                    collection: {
                    id_schema_json: id_exithousingassesment_json,
                    schema_json:  exithosingassessments_json,
                    schema_ids_json: exithosingassessments_ids_json,
                    schema_json_example: !include examples/ExitHousingAssesments_json_example.json,
                    schema_ids_json_example: !include examples/ExitHousingAssesments_ids_json_example.json,
                    id_schema_json_example: !include examples/id_exithousingassesment_json_example.json
                    }
                  }
/clients/{clientid}/enrollments/{enrollmentid}/exits/{exitsid}/exithousingassesments/{exithousingassesmentid}:
                    uriParameters:
                      exithousingassesmentid:
                        displayName: ExitHousingAssesments Identifier
                        type: string
                        example: ADBC1111211111114111111111D1111V
                    type:
                      member:
                        schema_json:  exithosingassessments_json
                        schema_id_json: exithosingassessments_id_json
                        schema_json_example: !include examples/ExitHousingAssesments_json_example.json
                        schema_id_json_example: !include examples/ExitHousingAssesments_id_json_example.json
/clients/{clientid}/enrollments/{enrollmentid}/exits/{exitsid}/housingassesmentdispositions:
        type: {
          collection: {
          id_schema_json: id_housingassesmentdispositions_json,
          schema_json:  housingassesmentdispositions_json,
          schema_ids_json: housingassesmentdispositions_ids_json,
          schema_json_example: !include examples/HousingAssesmentDispositions_json_example.json,
          schema_ids_json_example: !include examples/HousingAssesmentDispositions_ids_json_example.json,
          id_schema_json_example: !include examples/id_HousingAssesmentDispositions_json_example.json
          }
        }
/clients/{clientid}/enrollments/{enrollmentid}/exits/{exitsid}/housingassesmentdispositions/{housingassesmentdispositionid}:
          uriParameters:
            housingassesmentdispositionid:
              displayName: HousingAssesmentDisposition Identifier
              type: string
              example: ADBC1111211111114111111111D1111V
          type:
            member:
              schema_json:  housingassesmentdispositions_json
              schema_id_json: housingassesmentdispositions_id_json
              schema_json_example: !include examples/HousingAssesmentDispositions_json_example.json
              schema_id_json_example: !include examples/HousingAssesmentDispositions_id_json_example.json
/clients/{clientid}/enrollments/{enrollmentid}/heathinsurances:
          type: {
            collection: {
              id_schema_json: id_healthinsurance_json,
              schema_json:  healthinsurance_json,
              schema_ids_json: healthinsurances_ids_json,
              schema_json_example: !include examples/HealthInsurance_json_example.json,
              schema_ids_json_example: !include examples/HealthInsurances_ids_json_example.json,
              id_schema_json_example: !include examples/id_healthinsurance_json_example.json
            }
          }
/clients/{clientid}/enrollments/{enrollmentid}/heathinsurances/{healthinsuranceid}:
            uriParameters:
              healthinsuranceid:
                displayName: HealthInsurance Identifier
                type: string
                example: ADBC1111211111114111111111D1111V
            type:
              member:
                schema_json:  healthinsurance_json
                schema_id_json: healthinsurance_id_json
                schema_json_example: !include examples/HealthInsurance_json_example.json
                schema_id_json_example: !include examples/HealthInsurance_id_json_example.json
/clients/{clientid}/enrollments/{enrollmentid}/healthstatuses:
          type: {
            collection: {
              id_schema_json: id_healthstatus_json,
              schema_json:  healthstatus_json,
              schema_ids_json: healthstatus_ids_json,
              schema_json_example: !include examples/HealthStatus_json_example.json,
              schema_ids_json_example: !include examples/HealthStatus_ids_json_example.json,
              id_schema_json_example: !include examples/id_healthstatus_json_example.json
            }
          }
/clients/{clientid}/enrollments/{enrollmentid}/healthstatuses/{healthstatusid}:
            uriParameters:
              healthstatusid:
                displayName: HealthStatus Identifier
                type: string
                example: ADBC1111211111114111111111D1111V
            type:
              member:
                schema_json:  healthstatus_json
                schema_id_json: healthstatus_id_json
                schema_json_example: !include examples/HealthStatus_json_example.json
                schema_id_json_example: !include examples/HealthStatus_id_json_example.json
/clients/{clientid}/enrollments/{enrollmentid}/incomeandsources:
          type: {
            collection: {
              id_schema_json: id_incomeandsources_json,
              schema_json:  incomeandsource_json,
              schema_ids_json: incomeandsources_ids_json,
              schema_json_example: !include examples/IncomeAndSource_json_example.json,
              schema_ids_json_example: !include examples/IncomeAndSources_ids_json_example.json,
              id_schema_json_example: !include examples/id_incomeandsource_json_example.json
            }
          }
/clients/{clientid}/enrollments/{enrollmentid}/incomeandsources/{incomeandsourcesid}:
            uriParameters:
              incomeandsourcesid:
                displayName: HealthStatus Identifier
                type: string
                example: ADBC1111211111114111111111D1111V
            type:
              member:
                schema_json:  incomeandsource_json
                schema_id_json: incomeandsource_id_json
                schema_json_example: !include examples/IncomeAndSource_json_example.json
                schema_id_json_example: !include examples/IncomeAndSource_id_json_example.json
/clients/{clientid}/enrollments/{enrollmentid}/medicalassistences:
          type: {
            collection: {
              id_schema_json: id_medicalassistances_json,
              schema_json:  medicalassistance_json,
              schema_ids_json: medicalassistances_ids_json,
              schema_json_example: !include examples/MedicalAssistance_json_example.json,
              schema_ids_json_example: !include examples/MedicalAssistances_ids_json_example.json,
              id_schema_json_example: !include examples/id_medicalassistance_json_example.json
            }
          }
/clients/{clientid}/enrollments/{enrollmentid}/medicalassistences/{medicalassistancesid}:
            uriParameters:
              medicalassistancesid:
                displayName: MedicalAssistances Identifier
                type: string
                example: ADBC1111211111114111111111D1111V
            type:
              member:
                schema_json:  medicalassistance_json
                schema_id_json: medicalassistances_id_json
                schema_json_example: !include examples/MedicalAssistance_json_example.json
                schema_id_json_example: !include examples/MedicalAssistances_id_json_example.json
/clients/{clientid}/enrollments/{enrollmentid}/noncashbenefits:
          type: {
            collection: {
              id_schema_json: id_noncashbenefits_json,
              schema_json:  noncashbenefits_json,
              schema_ids_json: noncashbenefits_ids_json,
              schema_json_example: !include examples/NonCashBenefits_json_example.json,
              schema_ids_json_example: !include examples/NonCashBenefits_ids_json_example.json,
              id_schema_json_example: !include examples/id_noncashbenefits_json_example.json
            }
          }
/clients/{clientid}/enrollments/{enrollmentid}/noncashbenefits/{noncashbenefitsid}:
            uriParameters:
              noncashbenefitsid:
                displayName: NonCashBenefits Identifier
                type: string
                example: ADBC1111211111114111111111D1111V
            type:
              member:
                schema_json:  noncashbenefits_json
                schema_id_json: noncashbenefits_id_json
                schema_json_example: !include examples/NonCashBenefits_json_example.json
                schema_id_json_example: !include examples/NonCashBenefits_id_json_example.json
/clients/{clientid}/enrollments/{enrollmentid}/residentialmoveindates:
          type: {
            collection: {
              id_schema_json: id_residentialmoveindate_json,
              schema_json:  residentialmoveindate_json,
              schema_ids_json: residentialmoveindate_ids_json,
              schema_json_example: !include examples/ResidentialMoveInDate_json_example.json,
              schema_ids_json_example: !include examples/ResidentialMoveInDate_ids_json_example.json,
              id_schema_json_example: !include examples/id_residentialmoveindate_json_example.json
            }
          }
/clients/{clientid}/enrollments/{enrollmentid}/residentialmoveindates/{residentialmoveindatesid}:
            uriParameters:
              residentialmoveindatesid:
                displayName: ResidentialMoveInDate Identifier
                type: string
                example: ADBC1111211111114111111111D1111V
            type:
              member:
                schema_json:  residentialmoveindate_json
                schema_id_json: residentialmoveindate_id_json
                schema_json_example: !include examples/ResidentialMoveInDate_json_example.json
                schema_id_json_example: !include examples/ResidentialMoveInDate_id_json_example.json
/clients/{clientid}/enrollments/{enrollmentid}/pathstatuses:
          type: {
            collection: {
              id_schema_json: id_pathstatus_json,
              schema_json:  pathstatus_json,
              schema_ids_json: pathstatus_ids_json,
              schema_json_example: !include examples/PathStatus_json_example.json,
              schema_ids_json_example: !include examples/PathStatus_ids_json_example.json,
              id_schema_json_example: !include examples/id_pathstatus_json_example.json
            }
          }
/clients/{clientid}/enrollments/{enrollmentid}/pathstatuses/{pathstatusid}:
            uriParameters:
              pathstatusid:
                displayName: PathStatus Identifier
                type: string
                example: ADBC1111211111114111111111D1111V
            type:
              member:
                schema_json:  pathstatus_json
                schema_id_json: pathstatus_id_json
                schema_json_example: !include examples/PathStatus_json_example.json
                schema_id_json_example: !include examples/PathStatus_id_json_example.json
/clients/{clientid}/enrollments/{enrollmentid}/entryrhsps:
          type: {
            collection: {
              id_schema_json: id_entryrhsp_json,
              schema_json:  entryrhsp_json,
              schema_ids_json: entryrhsp_ids_json,
              schema_json_example: !include examples/Entryrhsp_json_example.json,
              schema_ids_json_example: !include examples/Entryrhsp_ids_json_example.json,
              id_schema_json_example: !include examples/id_entryrhsp_json_example.json
            }
          }
/clients/{clientid}/enrollments/{enrollmentid}/entryrhsps/{entryrhspid}:
            uriParameters:
              entryrhspid:
                displayName: Entryrhsp Identifier
                type: string
                example: ADBC1111211111114111111111D1111V
            type:
              member:
                schema_json:  entryrhsp_json
                schema_id_json: entryrhsp_id_json
                schema_json_example: !include examples/Entryrhsp_json_example.json
                schema_id_json_example: !include examples/Entryrhsp_id_json_example.json
/clients/{clientid}/enrollments/{enrollmentid}/entryrhys:
          type: {
            collection: {
              id_schema_json: id_entryrhy_json,
              schema_json:  entryrhy_json,
              schema_ids_json: entryrhy_ids_json,
              schema_json_example: !include examples/Entryrhy_json_example.json,
              schema_ids_json_example: !include examples/Entryrhy_ids_json_example.json,
              id_schema_json_example: !include examples/id_entryrhy_json_example.json
            }
          }
/clients/{clientid}/enrollments/{enrollmentid}/entryrhys/{entryrhyid}:
            uriParameters:
              entryrhyid:
                displayName: Entryrhy Identifier
                type: string
                example: ADBC1111211111114111111111D1111V
            type:
              member:
                schema_json:  entryrhy_json
                schema_id_json: entryrhy_id_json
                schema_json_example: !include examples/Entryrhy_json_example.json
                schema_id_json_example: !include examples/Entryrhy_id_json_example.json
/clients/{clientid}/enrollments/{enrollmentid}/entryssvfs:
          type: {
            collection: {
              id_schema_json: id_entryssvf_json,
              schema_json:  entryssvf_json,
              schema_ids_json: entryssvf_ids_json,
              schema_json_example: !include examples/Entryssvf_json_example.json,
              schema_ids_json_example: !include examples/Entryssvf_ids_json_example.json,
              id_schema_json_example: !include examples/id_entryssvf_json_example.json
            }
          }
/clients/{clientid}/enrollments/{enrollmentid}/entryssvfs/{entryssvfid}:
          uriParameters:
              entryssvfid:
                displayName: Entryssvf Identifier
                type: string
                example: ADBC1111211111114111111111D1111V
          type:
            member:
              schema_json:  entryssvf_json
              schema_id_json: entryssvf_id_json
              schema_json_example: !include examples/Entryssvf_json_example.json
              schema_id_json_example: !include examples/Entryssvf_id_json_example.json
/clients/{clientid}/enrollments/{enrollmentid}/exits/{exitid}/exitpaths:
        type: {
            collection: {
              id_schema_json: id_exitpath_json,
              schema_json:  exitpath_json,
              schema_ids_json: exitpath_ids_json,
              }:
          uriParameters:
              exitrhyid:
                displayName: Exitrhy Identifier
                type: string
                example: ADBC1111211111114111111111D1111V
          type:
            member:
              schema_json:  exitrhy_json
              schema_id_json: exitrhy_id_json
              schema_json_example: !include examples/Exitrhy_json_example.json
              schema_id_json_example: !include examples/Exitrhy_id_json_example.json
/clientsschema_json_example: !include examples/ExitPath_json_example.json,
              schema_ids_json_example: !include examples/ExitPath_ids_json_example.json,
              id_schema_json_example: !include examples/id_exitpath_json_example.json
            }
          }
/clients/{clientid}/enrollments/{enrollmentid}/exits/{exitid}/exitpaths/{exitpathid}:
          uriParameters:
              exitpathid:
                displayName: ExitPath Identifier
                type: string
                example: ADBC1111211111114111111111D1111V
          type:
            member:
              schema_json:  exitpath_json
              schema_id_json: exitpath_id_json
              schema_json_example: !include examples/ExitPath_json_example.json
              schema_id_json_example: !include examples/ExitPath_id_json_example.json
/clients/{clientid}/enrollments/{enrollmentid}/exits/{exitid}/exitrhys:
        type: {
            collection: {
              id_schema_json: id_exitrhy_json,
              schema_json:  exitrhy_json,
              schema_ids_json: exitrhy_ids_json,
              schema_json_example: !include examples/Exitrhy_json_example.json,
              schema_ids_json_example: !include examples/Exitrhy_ids_json_example.json,
              id_schema_json_example: !include examples/id_exitrhy_json_example.json
            }
          }
/clients/{clientid}/enrollments/{enrollmentid}/exits/{exitid}/exitrhys/{exitrhyid/{clientid}/enrollments/{enrollmentid}/servicefareferrals:
        type: {
            collection: {
              id_schema_json: id_servicefareferral_json,
              schema_json:  servicefareferral_json,
              schema_ids_json:  servicefareferrals_ids_json,
              schema_json_example: !include examples/ServiceFaReferral_json_example.json,
              schema_ids_json_example: !include examples/ServiceFaReferrals_ids_json_example.json,
              id_schema_json_example: !include examples/id_servicefareferral_json_example.json
            }
          }
/clients/{clientid}/enrollments/{enrollmentid}/servicefareferrals/{servicefareferralid}:
          uriParameters:
              servicefareferralid:
                displayName: ServiceFaReferral Identifier
                type: string
                example: ADBC1111211111114111111111D1111V
          type:
            member:
              schema_json:  servicefareferral_json
              schema_id_json:  servicefareferral_id_json
              schema_json_example: !include examples/ServiceFaReferral_json_example.json
              schema_id_json_example: !include examples/ServiceFaReferral_id_json_example.json
/clients/{clientid}/veteraninfos:
        type: {
            collection: {
              id_schema_json: id_veteraninfo_json,
              schema_json:  veteraninfo_json,
              schema_ids_json:  veteraninfo_ids_json,
              schema_json_example: !include examples/VeteranInfo_json_example.json,
              schema_ids_json_example: !include examples/VeteranInfo_ids_json_example.json,
              id_schema_json_example: !include examples/id_veteraninfo_json_example.json
            }
          }
/clients/{clientid}/veteraninfos/{veteraninfoid}:
          uriParameters:
              veteraninfoid:
                displayName: VeteranInfo Identifier
                type: string
                example: ADBC1111211111114111111111D1111V
          type:
            member:
              schema_json:  veteraninfo_json
              schema_id_json:  veteraninfo_id_json
              schema_json_example: !include examples/VeteranInfo_json_example.json
              schema_id_json_example: !include examples/VeteranInfo_id_json_example.json
/projects:
  type: {
    collection: {
        id_schema_json: id_projects_json,
        schema_json:  project_json,
        schema_ids_json: projects_ids_json,
        schema_json_example: !include examples/Project_json_example.json,
        schema_ids_json_example: !include examples/Projects_ids_json_example.json,
        id_schema_json_example: !include examples/id_project_json_example.json
    }
  }
  /{projectsid}:
    uriParameters:
      projectsid:
        displayName: Project Identifier
        type: string
        example: ADBC1111211111114111111111D1111V
    type:
      member:
        schema_json:  project_json
        schema_id_json: projects_id_json
        schema_id_json_example: !include examples/Projects_id_json_example.json
        schema_json_example: !include examples/Project_json_example.json
    /projectcocs:
      type: {
        collection: {
          id_schema_json: id_projectcoc_json,
          schema_json:  projectcoc_json,
          schema_ids_json: projectcoc_ids_json,
          schema_json_example: !include examples/ProjectCoc_json_example.json,
          schema_ids_json_example: !include examples/ProjectCoc_ids_json_example.json,
          id_schema_json_example: !include examples/id_ProjectCoc_json_example.json
        }
      }
      /{projectcocid}:
        uriParameters:
          projectcocid:
            displayName: ProjectCoc Identifier
            type: string
            example: ADBC1111211111114111111111D1111V
        type:
          member:
            schema_json:  projectcoc_json
            schema_id_json: projectcoc_id_json
            schema_json_example: !include examples/ProjectCoc_json_example.json
            schema_id_json_example: !include examples/ProjectCoc_id_json_example.json
    /inventories:
      type: {
        collection: {
          id_schema_json: id_inventories_json,
          schema_json:  inventories_json,
          schema_ids_json: inventories_ids_json,
          schema_json_example: !include examples/Inventories_json_example.json,
          schema_ids_json_example: !include examples/Inventories_ids_json_example.json,
          id_schema_json_example: !include examples/id_inventories_json_example.json
        }
      }
      /{inventoriesid}:
        uriParameters:
          inventoriesid:
            displayName: Inventories Identifier
            type: string
            example: ADBC1111211111114111111111D1111V
        type:
          member:
            schema_json:  inventories_json
            schema_id_json: inventories_id_json
            schema_id_json_example: !include examples/Inventories_id_json_example.json
            schema_json_example: !include examples/Inventories_json_example.json
    /sites:
      type: {
        collection: {
          id_schema_json: id_sites_json,
          schema_json:  sites_json,
          schema_ids_json: sites_ids_json,
          schema_json_example: !include examples/Sites_json_example.json,
          schema_ids_json_example: !include examples/Sites_ids_json_example.json,
          id_schema_json_example: !include examples/id_sites_json_example.json
        }
      }
      /{sitesid}:
        uriParameters:
          sitesid:
            displayName: Sites Identifier
            type: string
            example: ADBC1111211111114111111111D1111V
        type:
          member:
            schema_json:  sites_json
            schema_id_json: sites_id_json
            schema_json_example: !include examples/Sites_json_example.json
            schema_id_json_example: !include examples/Sites_id_json_example.json
    /funders:
      type: {
        collection: {
        id_schema_json: id_funders_json,
        schema_json:  funders_json,
        schema_ids_json: funders_ids_json,
        schema_json_example: !include examples/Funders_json_example.json,
        schema_ids_json_example: !include examples/Funders_ids_json_example.json,
        id_schema_json_example: !include examples/id_funders_json_example.json
        }
      }
      /{fundersid}:
        uriParameters:
          fundersid:
            displayName: Funders Identifier
            type: string
            example: ADBC1111211111114111111111D1111V
        type:
          member:
            schema_json:  funders_json
            schema_id_json: funder_id_json
            schema_json_example: !include examples/Funders_json_example.json
            schema_id_json_example: !include examples/Funder_id_json_example.json
    /affiliations:
      type: {
        collection: {
        id_schema_json: id_affiliation_json,
        schema_json:  affiliations_json,
        schema_ids_json: affiliations_ids_json,
        schema_json_example: !include examples/Affiliations_json_example.json,
        schema_ids_json_example: !include examples/Affiliation_ids_json_example.json,
        id_schema_json_example: !include examples/id_affiliation_json_example.json
        }
      }
      /{affiliationid}:
        uriParameters:
          affiliationid:
            displayName: Affiliation Identifier
            type: string
            example: ADBC1111211111114111111111D1111V
        type:
          member:
            schema_json:  affiliations_json
            schema_id_json: affiliation_id_json
            schema_json_example: !include examples/Affiliations_json_example.json
            schema_id_json_example: !include examples/Affiliation_id_json_example.json
/organizations:
  type: {
    collection: {
        id_schema_json: id_organization_json,
        schema_json:  organization_json,
        schema_ids_json: organization_ids_json,
        schema_json_example: !include examples/organization_json_example.json,
        schema_ids_json_example: !include examples/organization_ids_json_example.json,
        id_schema_json_example: !include examples/id_organization_json_example.json
    }
  }
  /{organizationid}:
    uriParameters:
      organizationid:
        displayName: organization Identifier
        type: string
        example: ADBC1111211111114111111111D1111V
    type:
      member:
        schema_json:  organization_json
        schema_id_json: organization_id_json
        schema_id_json_example: !include examples/organization_id_json_example.json
        schema_json_example: !include examples/organization_json_example.json

/search/{searchentity}:
  get:
    description: |
          The Search API is optimized to find the specific entity you're looking for (e.g., a client, enrollments, etc.).It's designed to  find the one result you're looking for (or maybe the few results you're looking for). Currently hmislynk supporting search on 'clients' entity only. Just like searching on Google, you sometimes want to see a few pages of search results so that you can find the item that best meets your needs.  HMISLynk Search API provides up to 50 results for each searh. However, the search results can be limited by the client.
            Note: Current supporting URI  is /search/clients

    queryParameters:
      q:
        description: |
             The search keywords, as well as any qualifiers. Currently supported search fields are first name,middle name,last name,dob,source system id and ssn. For search on "date of birth" field the format MM-dd-YYYY should be used for the search keyword.
      sort:
        description: The sort field. Default- results are sorted by "created date".
        type: string
        example: created date
      order:
        description: The sort order if sort parameter is provided. One of asc or desc. Default- desc.
        type: string
        example: desc
        default: desc
      startIndex:
        description: The start Index from where the search results should be returned. Default - 0
        type: integer
        example: 0
        default: 0
      maxItems:
        description: the number or Items that should be included in the results . Default - 50
        type: integer
        example: 50
        default: 50
      exclude:
       description: |
             Excludes flieds from the search.Currently it suppoted value is "ssi" (to exclude         source system id) only.
    responses:
      200:
        description: |
          example: |
            {
            "searchResults": {
              "pagination": {
                "total":"2"
                "from": "0",
                "maximum": "50",
                "returned":"2"
              },
              "items": [
                {
                  "clientId": "65e3df62-dd22-4d07-83ef-6858a6322839",
                  "firstName": "Eric",
                  "middleName": "Eric",
                  "lastName": "Eric",
                  "nameSuffix": "NS ",
                  "nameDataQuality": "1",
                  "ssn": "ssn ",
                  "ssnDataQuality": "1",
                  "dob": "1459498034983",
                  "dobDataQuality": "1",
                  "race": "1",
                  "ethnicity": "1",
                  "gender": "1",
                  "otherGender": "Test",
                  "veteranStatus": "8",
                  "link":"/hmis-clientapi/rest/clients/65e3df62-dd22-4d07-83ef-6858a6322839"
                },
                {
                  "clientId": "cf98b9b2-9a77-4133-99a3-b60f05a12ad1",
                  "firstName": "Eric",
                  "middleName": "Eric",
                  "lastName": "Eric",
                  "nameSuffix": "NS ",
                  "nameDataQuality": "1",
                  "ssn": "ssn ",
                  "ssnDataQuality": "1",
                  "dob": "1459498034983",
                  "dobDataQuality": "1",
                  "race": "1",
                  "ethnicity": "1",
                  "gender": "1",
                  "otherGender": "Test",
                  "veteranStatus": "8",
                  "link":"/hmis-clientapi/rest/v2014/clients/cf98b9b2-9a77-4133-99a3-b60f05a12ad1"
                }
              ]
            }
            }
/hmisTypes:
  description: Get all available hmis types
  get:
    responses:
      200:
        body:
          application/json:
             example: !include examples/get_all_hmis_type_names.json
             schema: !include schemas/get_all_hmis_type_names.json
  /{name}/values:
    description:  get all values of hmis type
    get:
      responses:
        200:
          body:
            application/json:
              example: !include examples/get_all_hmis_type_value_of_hmis_type.json
              schema: !include schemas/get_all_hmis_type_value_of_hmis_type.json

/questions:
  get:
    responses:
      200:
        body:
          application/json:
            example: !include examples/get_all_survey_questions.json
            schema: !include schemas/get_all_survey_questions.json
/questions/{hudQuestionId}:
  get:
    responses:
      200:
        body:
          application/json:
            example: !include examples/get_survey_question_by_hudid.json
            schema: !include schemas/get_survey_question_by_hudid.json
